.banner-wrap {
  overflow: hidden;
}

.banner {
  width: 1920px;
  height: 360px;
  position: relative;
  overflow: hidden;
}

.banner .swiper-wrapper li {
  float: left;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner-side {
  position: absolute;
  top: 0;
  left: 32px;
  width: 174px;
  height: 360px;
  background: black;
  z-index: 999;
}

.article {
  width: 226px;
  height: 360px;
  padding: 0 30px;
  background: gainsboro;
  display: none;
  position: absolute;
  top: 0;
  left: 174px;
}
.article li {
  float: left;
  height: 38px;
  margin-right: 9px;
}
.article li:hover a {
  color: #ff5b01;
}

.banner-side li {
  line-height: 45px;
}

.banner-side > ul > li > div > a {
  line-height: 45px;
  background: url(../../img/subimg/cat-ico1.png) no-repeat 0 -281px;
  color: #fff;
  font-size: 14px;
  padding: 0 10px 0 57px;
  text-align: left;
}

.banner-side li:nth-child(1) a {
  background-position: 29px -281px;
}

.banner-side li:nth-child(2) a {
  background-position: 27px -316px;
}

.banner-side li:nth-child(3) a {
  background-position: 27px -351px;
}

.banner-side li:nth-child(4) a {
  background-position: 27px -386px;
}

.banner-side li:nth-child(5) a {
  background-position: 27px -423px;
}

.banner-side li:nth-child(6) a {
  background-position: 27px -458px;
}

.banner-side li:nth-child(7) a {
  background-position: 27px -493px;
}

.banner-side li:nth-child(8) a {
  background-position: 27px -528px;
}

.banner-side li:hover {
  background: gainsboro;
}

.banner-side > ul > li:hover > div > a {
  color: #ff5b01;
}

.banner-side > ul > li:hover .article {
  display: block;
}

.banner-side li:nth-child(1):hover a {
  background-position: 29px 0px;
}

.banner-side li:nth-child(2):hover a {
  background-position: 27px -34px;
}

.banner-side li:nth-child(3):hover a {
  background-position: 27px -70px;
}

.banner-side li:nth-child(4):hover a {
  background-position: 27px -106px;
}

.banner-side li:nth-child(5):hover a {
  background-position: 27px -144px;
}

.banner-side li:nth-child(6):hover a {
  background-position: 27px -178px;
}

.banner-side li:nth-child(7):hover a {
  background-position: 27px -213px;
}

.banner-side li:nth-child(8):hover a {
  background-position: 27px -246px;
}

/*----------content----------------*/
.content {
  width: 100%;
  height: 100%;
}

/*----------music----------------*/
.music {
  width: 1200px;
  height: 382px;
  margin: 30px auto 0;
}

.music-left {
  width: 416px;
  height: 352px;
  margin: 30px 6px 0 0;
  position: relative;
}

.music-buttom {
  width: 416px;
  height: 79px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.music-buttom h6 {
  color: #000;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  overflow: hidden;
  background: #81848a;
}

.credit {
  border-bottom: 1px solid #f93354;
  height: 48px;
  background: url(../../img/subimg/sprite.png) no-repeat 0 -452px #f2f5f7;
  padding-left: 75px;
}

.price-new {
  font-size: 24px;
  color: #f93354;
  line-height: 48px;
  margin-right: 6px;
}

.price-old {
  color: #909090;
  text-decoration: line-through;
  line-height: 48px;
  margin-right: 10px;
}

.remain {
  background: #ffcbcb;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 18px;
  border: 1px solid #f93354;
  color: #f93354;
  width: 88px;
  text-align: center;
  margin-top: 13px;
  margin-right: 10px;
}

ul .fr a {
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: #fd6e36;
  font-size: 16px;
  width: 95px;
  display: block;
  text-align: center;
  border-radius: 5px;
  -moz-border-raidus: 5px;
  -webkit-border-radius: 5px;
  margin-right: 10px;
  margin-top: 11px;
}

.rob {
  width: 90px;
  height: 72px;
  background: url(../../img/subimg/sprite.png) no-repeat 0 -320px;
  display: block;
  position: absolute;
  top: -306px;
  left: -40px;
  z-index: 99;
}

/*----------music-middle----------------*/
.music-middle {
  width: 651px;
  height: 382px;
}

.hd {
  height: 18px;
  line-height: 18px;
  margin-bottom: 12px;
}

.hd h3 {
  border-left: 2px solid #fd5e00;
  padding-left: 8px;
  font-size: 16px;
  color: #5d5d5d;
  font-weight: normal;
}

.music-middle ul {
  width: 651px;
  height: 218px;
  overflow: hidden;
}

.music-middle .photo li:nth-child(1) {
  margin-right: 6px;
}

.music-middle .photo li {
  position: relative;
}

.music-middle .photo li:hover {
  top: -2px;
}

.banner-two {
  width: 651px;
  height: 128px;
  margin-top: 6px;
  overflow: hidden;
  position: relative;
}

.music-banner li {
  border: 1px solid #e2e2e2;
}

.music-banner .banner-two li:nth-child(3n+2) {
  margin: 0 6px;
}

.banner-two > a {
  width: 30px;
  height: 46px;
  display: block;
  position: absolute;
  top: 41px;
  z-index: 99;
  background: url(../../img/subimg/sprite.png) no-repeat 0 -541px;
}

.banner-two .next {
  right: 0;
  background-position: -34px -541px;
}

/*----------music-right----------------*/
.music-right {
  width: 127px;
  height: 333px;
  margin-top: 30px;
}

.music-right div {
  height: 94px;
  margin-top: 17px;
}

.music-right div a {
  width: 70px;
  height: 24px;
  padding-top: 70px;
  line-height: 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #6c6b6a;
  background: url(../../img/subimg/sprite.png) no-repeat 0 0;
}

.music-right div:nth-child(2) a {
  background-position: 0 -200px;
}

.music-right div:nth-child(3) a {
  background-position: 0 -100px;
}

.music-right div:hover a {
  color: blue;
}

.music-right div:nth-child(1):hover a {
  background-position: -100px 0;
}

.music-right div:nth-child(2):hover a {
  background-position: -100px -200px;
}

.music-right div:nth-child(3):hover a {
  background-position: -100px -100px;
}

/*----------floor~1  sass-------------------------------*/
.floor-1 .floor1-right .floor1-price .price-container, .floor-1 .floor1-right .price-bottom .photo-one, .floor-1 .floor1-right .price-bottom .photo-two, .floor2 .floor2-right .floor2-top .floor2-top-left .wire1, .floor2 .floor2-right .floor2-top .floor2-top-show .show1 {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.floor-1 {
  width: 1200px;
  height: 508px;
  margin: 30px auto 0;
}
.floor-1 .floor-hd {
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
  height: 36px;
}
.floor-1 .floor-hd h3 {
  font-size: 24px;
  color: #5d5d5d;
  padding-right: 160px;
  background: url(../../img/subimg/sprite.png) no-repeat -80px -531px;
  width: 400px;
}
.floor-1 .floor-hd span {
  width: 30px;
  height: 30px;
  background: url(../../img/subimg/sprite.png) no-repeat 0 -639px;
  overflow: hidden;
  display: block;
  position: absolute;
  left: -43px;
  top: 4px;
}
.floor-1 .gold {
  width: 200px;
  height: 462px;
  overflow: hidden;
}
.floor-1 .floor1-right {
  width: 1000px;
  height: 462px;
  overflow: hidden;
}
.floor-1 .floor1-right ul {
  height: 34px;
}
.floor-1 .floor1-right ul li {
  float: left;
  border-right: 1px solid #fff;
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  width: 249px;
  text-align: center;
  background: #eaeaea;
  color: #373737;
}
.floor-1 .floor1-right .floor1-price {
  height: 273px;
}
.floor-1 .floor1-right .floor1-price .price-container {
  width: 249px;
  height: 272px;
}
.floor-1 .floor1-right .floor1-price .price-container .price-photo {
  padding: 20px 0 10px;
  text-align: center;
  height: 180px;
  width: 249px;
  overflow: hidden;
  position: relative;
}
.floor-1 .floor1-right .floor1-price .price-container .price-photo:hover {
  top: -3px;
}
.floor-1 .floor1-right .floor1-price .price-container .price-word {
  width: 249px;
  height: 50px;
}
.floor-1 .floor1-right .floor1-price .price-container .price-word h6,
.floor-1 .floor1-right .floor1-price .price-container .price-word p {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  padding: 0 10px;
  font-size: 14px;
}
.floor-1 .floor1-right .floor1-price .price-container .price-word h6:hover,
.floor-1 .floor1-right .floor1-price .price-container .price-word p:hover {
  color: blue;
  cursor: pointer;
}
.floor-1 .floor1-right .floor1-price .price-container .price-word h6 span:nth-child(1),
.floor-1 .floor1-right .floor1-price .price-container .price-word p span:nth-child(1) {
  font-size: 22px;
  color: #ff5a00;
}
.floor-1 .floor1-right .floor1-price .price-container .price-word h6 span:nth-child(2),
.floor-1 .floor1-right .floor1-price .price-container .price-word p span:nth-child(2) {
  color: #9c9c9c;
  margin-left: 10px;
}
.floor-1 .floor1-right .price-bottom {
  height: 101px;
  width: 1000px;
  background: red;
}
.floor-1 .floor1-right .price-bottom .photo-one {
  width: 124px;
  height: 100px;
}
.floor-1 .floor1-right .price-bottom .photo-two {
  width: 249px;
  height: 100px;
}
.floor-1 .floor1-right .price-foot {
  width: 1000px;
  height: 52px;
  margin-top: 2px;
  background: darkblue;
}
.floor-1 .floor1-right .price-foot li {
  float: left;
  width: 100px;
  height: 52px;
  border: none;
}

/*----------floor~2  sass-------------------------------*/
.floor-1 .floor1-right .floor1-price .price-container, .floor-1 .floor1-right .price-bottom .photo-one, .floor-1 .floor1-right .price-bottom .photo-two, .floor2 .floor2-right .floor2-top .floor2-top-left .wire1, .floor2 .floor2-right .floor2-top .floor2-top-show .show1 {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.floor2 .floor2-hd span {
  background: url(../../img/subimg/sprite.png) no-repeat 0 -672px;
}
.floor2 .floor2-hd h3 {
  background: url(../../img/subimg/sprite.png) no-repeat -57px -597px;
}
.floor2 .floor2-hd .title {
  width: 330px;
  height: 19px;
  margin-top: 8px;
}
.floor2 .floor2-hd .title li {
  float: left;
  display: inline;
}
.floor2 .floor2-hd .title .shuxian {
  margin: 0 7px;
  font-family: verdana;
  color: #a1a0a0;
  z-index: 999;
}
.floor2 .floor2-right {
  width: 1000px;
  height: 462px;
  overflow: hidden;
}
.floor2 .floor2-right .floor2-top {
  height: 379px;
}
.floor2 .floor2-right .floor2-top .floor2-top-left {
  width: 349px;
  height: 379px;
  border-top: 1px solid #eaeaea;
  overflow: hidden;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire1 {
  width: 174px;
  height: 232px;
  display: block;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire1 img {
  position: relative;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire1 img:hover {
  top: -3px;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire1:nth-child(2) {
  border-right: none;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire2 {
  height: 144px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire2 img {
  position: relative;
}
.floor2 .floor2-right .floor2-top .floor2-top-left .wire2 img:hover {
  left: -3px;
}
.floor2 .floor2-right .floor2-top .floor2-top-banner {
  width: 302px;
  height: 379px;
}
.floor2 .floor2-right .floor2-top .floor2-top-banner .banner-container {
  width: 302px;
  overflow: hidden;
}
.floor2 .floor2-right .floor2-top .floor2-top-banner .banner-container ul {
  width: 1510px;
  height: 378px;
}
.floor2 .floor2-right .floor2-top .floor2-top-banner .banner-container ul li {
  float: left;
  width: 302px;
  height: 379px;
  border: none;
}
.floor2 .floor2-right .floor2-top .floor2-top-show {
  width: 349px;
  height: 379px;
  border-top: 1px solid #eaeaea;
}
.floor2 .floor2-right .floor2-top .floor2-top-show .show1 {
  width: 173px;
  height: 188px;
  overflow: hidden;
}
.floor2 .floor2-right .floor2-top .floor2-top-show .show1 img {
  height: 188px;
  position: relative;
}
.floor2 .floor2-right .floor2-top .floor2-top-show .show1 img:hover {
  top: -3px;
}
.floor2 .floor2-right .floor2-bottom {
  height: 80px;
  margin-top: 3px;
  background: red;
}
.floor2 .floor2-right .floor2-bottom .floor2-bottom-banner {
  height: 80px;
  overflow: hidden;
}
.floor2 .floor2-right .floor2-bottom .floor2-bottom-banner ul {
  width: 3000px;
  height: 80px;
}
.floor2 .floor2-right .floor2-bottom .floor2-bottom-banner ul li {
  width: 1000px;
  height: 80px;
  border: none;
}
.floor2 .floor2-right .floor2-bottom .floor2-bottom-banner a {
  width: 42px;
  height: 80px;
  background: url(../../img/subimg/sprite.png) no-repeat 0 -860px;
  position: absolute;
  z-index: 99;
  top: 0;
  display: block;
}
.floor2 .floor2-right .floor2-bottom .floor2-bottom-banner .next {
  background-position: -46px -860px;
  right: 0;
}

/*----------floor~3  sass-------------------------------*/
.floor-1 .floor1-right .floor1-price .price-container, .floor-1 .floor1-right .price-bottom .photo-one, .floor-1 .floor1-right .price-bottom .photo-two, .floor2 .floor2-right .floor2-top .floor2-top-left .wire1, .floor2 .floor2-right .floor2-top .floor2-top-show .show1 {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.floor3 {
  width: 1200px;
  height: 1386px;
  margin: 30px auto 0;
}
.floor3 .floor-hd h3 {
  background-position: -137px -663px;
}
.floor3 .floor-hd span {
  background-position: 0 -703px;
}
.floor3 .bd {
  height: 1340px;
}
.floor3 .bd .last {
  width: 1200px;
}
.floor3 .bd .last .no-margin {
  margin-right: 0;
}
.floor3 .bd .last li {
  width: 172px;
  border: 1px solid #e2e2e2;
  height: 306px;
  padding: 10px;
  float: left;
  margin-bottom: 7px;
  margin-right: 7px;
  position: relative;
  transition: all 0.3s linear 0s;
}
.floor3 .bd .last li:hover {
  top: -5px;
  -webkit-box-shadow: 0px 5px 5px 5px #eaeaea;
}
.floor3 .bd .last li .container {
  padding: 20px 0;
}
.floor3 .bd .last li .container img {
  width: 180px;
  height: 180px;
}
.floor3 .bd .last li .info {
  border-top: 1px dashed #c2cfdc;
}
.floor3 .bd .last li .info h6 {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  word-break: break-all;
}
.floor3 .bd .last li .info h6:hover a {
  color: blue;
}
.floor3 .bd .last li .info .detail {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #ff5a00;
  overflow: hidden;
}
.floor3 .bd .last li .info .discount span:nth-child(1) {
  color: #ff5a00;
  margin-right: 10px;
  font-size: 20px;
}
.floor3 .bd .last li .info .discount span:nth-child(2) {
  color: #9c9c9c;
  text-decoration: line-through;
}

.footer {
  width: 100%;
  height: 100%;
}
