.content, .content .navigation, .content .cart-title {
  width: 1200px;
  margin: 0 auto;
}

.content {
  height: auto;
}
.content .navigation {
  height: 38px;
}
.content .navigation ul {
  padding: 0 5px;
}
.content .navigation ul li {
  float: left;
  line-height: 38px;
}
.content .cart-title {
  height: 37px;
}
.content .cart-title h5 {
  line-height: 37px;
  color: #6678ad;
  font-size: 22px;
}
.content .cart-title h5 i {
  padding-left: 10px;
  font-size: 25px;
}
.content .cart-empty {
  width: 1198px;
  height: 70px;
  padding: 80px 0 90px;
  display: none;
  border: 1px solid #CCCCCC;
}
.content .cart-empty .empty-wrap {
  margin: 0 auto;
  width: 390px;
}
.content .cart-empty .empty-wrap > span {
  display: inline-block;
  width: 65px;
  height: 65px;
  position: relative;
  top: -15px;
  margin-right: 20px;
}
.content .cart-empty .empty-wrap > span i {
  font-size: 50px;
  line-height: 65px;
}
.content .cart-empty .empty-wrap .basket-right {
  width: 300px;
  height: 56px;
  overflow: hidden;
  display: inline-block;
}
.content .cart-empty .empty-wrap .basket-right > span {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
}
.content .cart-empty .empty-wrap .basket-right span:nth-child(2) {
  font-weight: normal;
}
.content .cart-empty .empty-wrap .basket-right P {
  font-size: 14px;
  color: #9C9C9C;
  margin-top: 5px;
}
.content .cart-empty .empty-wrap .basket-right P span {
  color: #0563c3;
  cursor: pointer;
}
.content .cart-step {
  width: 1200px;
  height: 30px;
  margin: 20px 0;
}
.content .cart-step ul li:nth-child(1) {
  background: #faa419;
  color: white;
}
.content .cart-step ul li:nth-child(1) i {
  background: white;
  color: #faa419;
}
.content .cart-step ul li {
  float: left;
  height: 30px;
  width: 96px;
  font-size: 16px;
  line-height: 30px;
}
.content .cart-step ul li .fa {
  font-size: 30px;
  margin-left: 30px;
  color: #CCCCCC;
}
.content .cart-step ul .step {
  width: 336px;
  background: #CCCCCC;
  color: #a8a8a8;
}
.content .cart-step ul .step i {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background: #a8a8a8;
  position: relative;
  top: 2px;
  color: white;
  margin: 0 10px 0 10px;
}
.content .cart-container {
  width: 1200px;
  height: auto;
}
.content .cart-container .choose-title {
  width: 1190px;
  height: 24px;
  padding: 0 0 5px 10px;
}
.content .cart-container .choose-title h4 {
  line-height: 24px;
  font-size: 15px;
  color: #b77d66;
}
.content .cart-container form {
  width: 1200px;
  height: auto;
}
.content .cart-container form table {
  width: 1199px;
  height: auto;
  border: 1px solid #CCCCCC;
}
.content .cart-container form table tr th {
  font-size: 14px;
  width: 98px;
  height: 34px;
  padding: 1px;
}
.content .cart-container form table .first-tr {
  width: 1199px;
  height: 37px;
  background: #DCDCDC;
}
.content .cart-container form table .first-tr .first-th {
  width: 596px;
}
.content .cart-container form table #box {
  width: 1199px;
  height: auto;
  border: 1px solid red;
  margin: 0 auto;
}
.content .cart-container form table #box .list-tr {
  width: 1199px;
  height: 105px;
}
.content .cart-container form table #box .list-tr .td1 {
  width: 98px;
  text-align: center;
  height: 82px;
  padding: 15px 0 8px 0;
}
.content .cart-container form table #box .list-tr .td1 img {
  width: 80px;
  height: 80px;
  border: 1px solid #CCCCCC;
}
.content .cart-container form table #box .list-tr .td1 a:hover {
  color: blue;
  text-decoration: underline;
}
.content .cart-container form table #box .list-tr .td2 {
  width: 499px;
  height: 82px;
  padding: 15px 0 8px 0;
}
.content .cart-container form table #box .list-tr .td2 p {
  height: 20px;
}
.content .cart-container form table #box .list-tr .td2 .list-color {
  width: 84px;
  height: 20px;
  padding: 0 6px 0;
}
.content .cart-container form table #box .list-tr .td3 input {
  width: 20px;
  height: 21px;
  border: 1px solid #CCCCCC;
}
.content .cart-container form table #box .list-tr .td3 input[type="button"]:hover {
  cursor: pointer;
  background: #666666;
  color: white;
}
.content .cart-container form table tfoot .price-total {
  text-align: right;
  width: 1199px;
  height: 98px;
}
.content .cart-container form table tfoot .price-total td p:nth-child(1) {
  font-size: 16px;
}
.content .cart-container form table tfoot .price-total td p:nth-child(1) span {
  font-size: 14px;
  color: red;
  margin-right: 10px;
}
.content .cart-container form table tfoot .price-total td p:nth-child(2) {
  margin-top: 20px;
  font-size: 16px;
}
.content .cart-container form table tfoot .price-total td p:nth-child(2) span {
  font-size: 25px;
  color: red;
  margin-right: 10px;
}
.content .cart-container form table tfoot .bill {
  width: 1199px;
  height: 62px;
  background: #DCDCDC;
}
.content .cart-container form table tfoot .bill .bill-left {
  width: 768px;
  height: 42px;
  padding: 10px 15px;
}
.content .cart-container form table tfoot .bill .bill-left span {
  width: 82px;
  height: 25px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  background: white;
  cursor: pointer;
}
.content .cart-container form table tfoot .bill .bill-left span:hover {
  background: #d0770a;
}
.content .cart-container form table tfoot .bill .bill-right {
  width: 370px;
  text-align: right;
}
.content .cart-container form table tfoot .bill .bill-right a {
  line-height: 43px;
}
.content .cart-container form table tfoot .bill .bill-right a:hover {
  color: blue;
  text-decoration: underline;
}
.content .cart-container form table tfoot .bill .bill-right .account {
  width: 143px;
  height: 42px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  background: #f4212b;
  color: white;
}
.content .cart-history {
  width: 1198px;
  height: 283px;
  border: 1px solid #CCCCCC;
  margin-top: 10px;
}
.content .cart-history h3 {
  padding: 0 15px;
  width: 1168px;
  height: 37px;
  line-height: 37px;
  color: #7baed9;
}
.content .cart-history .history-show {
  width: 1194px;
  height: 236px;
  padding: 5px 2px;
}
.content .cart-history .history-show #show-content {
  width: 1194px;
  height: 236px;
  margin: 0 auto;
}
.content .cart-history .history-show #show-content .list-li {
  width: 206px;
  height: 98px;
  margin: 10px 16px;
}
.content .cart-history .history-show #show-content .list-li .list-img {
  width: 96px;
  height: 96px;
  display: inline-block;
  float: left;
  border: 1px solid #CCCCCC;
}
.content .cart-history .history-show #show-content .list-li .list-img img {
  width: 96px;
  height: 96px;
}
.content .cart-history .history-show #show-content .list-li .list-info {
  width: 101px;
  height: 98px;
  display: inline-block;
  margin-left: 7px;
  float: right;
}
.content .cart-history .history-show #show-content .list-li .list-info .list-content {
  width: 101px;
  height: 40px;
  overflow: hidden;
}
.content .cart-history .history-show #show-content .list-li .list-info .list-content a {
  font-size: 14px;
}
.content .cart-history .history-show #show-content .list-li .list-info .list-content a:hover {
  color: #0080d4;
  text-decoration: underline;
}
.content .cart-history .history-show #show-content .list-li .list-info .list-price {
  width: 101px;
  height: 33px;
  line-height: 33px;
  color: #fe5e00;
}
.content .cart-history .history-show #show-content .list-li .list-info .buy {
  width: 101px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #fe5e00;
  cursor: pointer;
  color: white;
}
.content .cart-history .history-show #show-content .list-li .list-info .buy:hover {
  background: #e04b0a;
}
