.login-wrap {
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    .current {
        height: 38px;
        padding: 0 5px;
        line-height: 38px;
        font-size: 14px;
    }
    .login-content {
        height: 690px;
        width: 1200px;
        background: url(../img/subimg/login.jpg) no-repeat 0 center;
        .login-form {
            width: 340px;
            height: 676px;
            border: 2px solid #ccc;
            margin-top: 10px;
            float: right;
            .form-caption {
                width: 320px;
                height: 44px;
                padding-left: 20px;
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
                h2 {
                    font: 400 24px/44px 'Microsoft Yahei';
                    color: #1566c0;
                }
            }
            form {
                width: 340px;
                height: 281px;
                li {
                    height: 51px;
                    margin-bottom: 10px;
                    input {
                        width: 288px;
                        height: 26px;
                        padding: 1px 4px;
                        border: 1px solid #ccc;
                        margin-left: 20px;
                    }
                    p{
                        margin-left: 20px;
                        margin-top: 5px;
                        color: red;
                        display: none;
                        span:nth-child(1){
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            text-align: center;
                            display: inline-block;
                            background: darkred;
                            color: white;
                        }
                         span:nth-child(2){
                            margin-left: 8px;
                            height: 10px;
                            display: inline-block;
                        }
                    }
                    .code {
                        width: 80px;
                        height: 26px;
                        padding: 1px 4px;
                        border: 1px solid #ccc;
                    }
                    .code1 {
                        margin-left: 5px;
                        width: 40px;
                        font-size: 18px;
                    }
                    a {
                        font-size: 14px;
                        &:hover {
                            color: #0563c3;
                            text-decoration: underline;
                        }
                    }
                    input[type="checkbox"] {
                        width: 13px;
                        height: 32px;
                    }
                    label {
                        margin: 0 15px 0 5px;
                        vertical-align: top;
                        position: relative;
                        top: 6px;
                    }
                    button {
                        width: 80px;
                        height: 37px;
                        background: #e8520e;
                        margin-left: 20px;
                        border: 0;
                        font-size: 16px;
                        color: white;
                    }
                }
                .last {
                    margin-bottom: 0;
                }
            }
            .links {
                width: 340px;
                height: 254px;
                padding: 15px 0;
                border-top: 1px dotted #ccc;
                h3 {
                    margin: 4px 0 0 24px;
                }
                ul {
                    width: 303px;
                    height: 156px;
                    margin-left: 24px;
                    margin-top: 5px;
                    li {
                        float: left;
                        width: 95px;
                        height: 35px;
                        padding: 2px 8px 2px 0;
                        a {
                            width: 95px;
                            height: 35px;
                            display: inline-block;
                            background: url(../img/subimg/all_bg.png) no-repeat 0 -40px;
                        }
                    }
                    @for $i from 2 through 12 {
                        li:nth-child(#{$i}) a {
                            background-position: 0 -40px*$i;
                        }
                    }
                    li:nth-child(3n) {
                        padding-right: 0;
                    }
                }
            }
            .form-bottom {
                width: 300px;
                height: 25px;
                padding: 10px 20px;
                h3 {
                    float: left;
                    color: #e73e31;
                    font: 14px/25px 'Microsoft Yahei';
                }
                button {
                    width: 88px;
                    height: 23px;
                    padding-right: 10px;
                    float: right;
                    border: 0;
                    border: 1px solid #ccc;
                    background-color: white;
                    cursor: pointer;
                    &:hover{
                        color: blue;
                    }
                }
            }
        }
    }
}